<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
      <header class="site-header">
        <div class="container">
          <h1 class="site-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          {% include social-links.html %}
        </div>
      </header>

      <div class="container content">
        {{ content }}
      </div>

      <footer class="site-footer container">
        <hr class="section-divider">
        {% include social-links.html %}
        <p>Built with <a href="https://jekyllrb.com/">Jekyll</a> on <a href="https://github.com/verythorough/verythorough.github.io">GitHub</a></p>
      </footer>

    {% include svg.html %}
    
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <!-- <script>
      var anchorLinks = document.getElementById("jump-links");
    	if (window.requestAnimationFrame) {
    		anchorLinks.addEventListener("click", 
    		  function(e) {
            e.preventDefault();
    			  dest = (document.getElementById(e.target.href.substring(1)).offsetTop;
    			  
    		})}
    </script> -->
  </body>
</html>
